<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>maven.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegController</servlet-name>
  	<display-name>RegController</display-name>
  	<description></description>
  	<servlet-class>maven.controller.RegController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mentorController</servlet-name>
  	<display-name>mentorController</display-name>
  	<description></description>
  	<servlet-class>maven.controller.mentorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>maven.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateController</servlet-name>
  	<display-name>UpdateController</display-name>
  	<description></description>
  	<servlet-class>maven.controller.UpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMentorController</servlet-name>
  	<display-name>UpdateMentorController</display-name>
  	<description></description>
  	<servlet-class>maven.controller.UpdateMentorController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayStud</servlet-name>
  	<display-name>DisplayStud</display-name>
  	<description></description>
  	<servlet-class>maven.controller.DisplayStud</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStud</servlet-name>
  	<display-name>DeleteStud</display-name>
  	<description></description>
  	<servlet-class>maven.controller.DeleteStud</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegController</servlet-name>
  	<url-pattern>/RegController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mentorController</servlet-name>
  	<url-pattern>/mentorController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateController</servlet-name>
  	<url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMentorController</servlet-name>
  	<url-pattern>/UpdateMentorController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayStud</servlet-name>
  	<url-pattern>/DisplayStud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStud</servlet-name>
  	<url-pattern>/DeleteStud</url-pattern>
  </servlet-mapping>
</web-app>
